 <div> {{ test }} </div>

<h1> POSTS </h1>
<div ng-repeat="post in posts | orderBy: '-comments'">
  {{ post.title }} <i>( comments: {{ post.comments }}) </i>
   <span ng-click="upvotePost(post)"> + </span>
   <span> {{ post.upvotes }} </span>
</div>

<br/>
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <form ng-submit="addPost()">
    <div class="form-group">
      <input type="text" ng-model="title" placeholder="Post name" class="form-control"> </input>
      <button class="btn btn-primary" type="submit"> Add new Post </button>
    </div>
  </form>
</div>
