<h1> POSTS </h1>
<div ng-repeat="post in posts | orderBy: '-comments'">
  <div class="col-xs-4 col-sm-2 post-item">
    <div class="post-item-body">
      <a class="post-title" ng-show="post.link" href="{{ post.link }}"> {{ post.title }} </a>
      <div class="post-title" ng-hide="post.link"> {{ post.title }} </div>
      <div class="post-counters">
      <span class="post-comments btn btn-primary"> {{ post.comments }} </span>
      <span class="post-upvotes btn btn-success" ng-click="upvotePost(post)"> {{ post.upvotes }} + </span>
      </div>
    </div>
  </div>
</div>

<br/>
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <form ng-submit="addPost()">
    <div class="form-group">
      <input type="text" ng-model="title" placeholder="Post name" class="form-control"> </input>
      <input type="text" placeholder="Link" ng-model="link" class="form-control"> </input>
      <button class="btn btn-primary" type="submit"> Post </button>
    </div>
  </form>
</div>
